* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

input, button {
    font-size: x-large;
}

.section h1{
    text-align: center;
    text-decoration: underline;
    margin:20px 10px;
    padding: 20px;
}

.section {
    background-color: grey;
    margin: 50px 0;
    padding: 20px 0;
    text-align: center;
    
}

.section-text {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 90px 90px;
}

#render {
    color: red;
    font-weight: bold;
    background-color: bisque;
    margin: 0 10px;
    padding: 10px 10px;
}